:root {
    --background: #f5f5f5;
    --color: #000;
    --color2: #cb1314;
    --color2-transparent: #cb131370;
    --url: #00308a;
    --url-hover: #0056b3;
    --note: #555;
}

.browser-light {
    display: block;
}

.browser-dark {
    display: none;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background: #181818;
        --color: #fff;
        --color2: #fff;
        --color2-transparent: #ffffff70;
        --url: #679ef1;
        --url-hover: #8cb4f8;
        --note: #aaa;
    }
    .browser-light {
        display: none;
    }

    .browser-dark {
        display: block;
    }
}